node_modules
package-lock.json
.stencil

# component build artifacts
components/dist
components/loader
components/hydrate
components/src/components.d.ts

# consumer build artifacts
consumer/public/build
